@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;700;800&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Nunito', sans-serif;
  width: 1080px;
  margin: auto;
  padding: 0;
}

h1 {
  text-align: center;
}

section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  margin-bottom: 50px;
  background-color: rgba(86, 248, 226, 0.5);
  border-radius: 8px;
  padding: 30px;
  text-align: center;
}